.todo-list-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8f7676;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-task-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .add-task-container input[type='text'] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-task-container button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #0f57af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .task-item.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .task-item button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background-color: #218838;
  }
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}